

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  color:#f9faf8;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 24px;
}

.header-links {
  display:flex;
  font-size: 18px;
  gap:16px;
  color: #e5e7eb;
}

.content {
  display: flex;
  flex: 1;
  color:#f9faf8;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}

.subhead {
  font-size: 48px;
  font-weight:900;
  margin-bottom: 8px;
}


.button {
  margin-top: 8px;
}

.btn1 {
  font-weight: 600;
  padding: 9px 27px;
  color:#f9faf8;
  background: #3882f6;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  border-color: #f9faf8;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
  padding: 108px 0px;
  font-size: 18px;
  background: #9ea0a3;
}

.left {
  flex: 1;
  color:#e5e7eb;
  display:flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: space-between;
}


.section1, .section2, .section3, .section4 {
  height: 100vh;
  display: flex;
  padding: 20px 200px;
  display: flex;
  flex-direction: column;
}

.section1 {
  background-color: #1f2937;
}

.section2 {
  background-color: #f9faf8;
}

.section3 {
  background-color: #e5e7eb;
  padding: 20px 240px;
}

.section4 {
  background-color: #f9faf8;
}

.footer {
  background-color: #1f2937;
  height: 72px;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0px;
  padding-left: 0px;

}
h2 {
  margin: 0;
  font-size: 2em;
}

/* PAGE 2 */

.info-header {
  color:#1f2937;
  display:flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 36px;
  font-weight: 900;
  padding:40px;
}

.content2 {
  display:flex;
  justify-content: center;
  gap:52px;
  align-items: flex-start;
  display: flex;
  flex:1;
}

.info{
  width:170px;
  text-align: center;
  font-size: 18px;
  color: #626365;
}

.square{
  padding:80px;
  border: 4px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 16px;
  margin-bottom: 8px;
}

/* PAGE 3 */

.content3 {
  display:flex;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex:1;
  flex-direction: column;
}

.quote{
  display: flex;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.author {
  display: flex;
  font-weight: 900;
  color: #1f2937;
  font-size: 18px;
}

/* PAGE 4 */

.content4 {
  display:flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex:1;
}

.modal {
  background: #3882f6;
  display: flex;
  flex:1;
  padding: 40px 80px;
  border-radius: 8px;
  
}
.left4 {
  flex: 2;
  color:#e5e7eb;
  display:flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: space-between;
}

.right4 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.subhead2 {
  font-size: 24px;
  font-weight:900;
  margin-bottom: 8px;
}

.btn2 {
  font-weight: 600;
  padding: 9px 27px;
  color:#f9faf8;
  background: #3882f6;
  font-family: 'Roboto', sans-serif;
  border: 2px solid;
  border-color: #f9faf8;
  border-radius: 8px;
  font-size: 18px;
}


